{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": 1,
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/jsx-props-no-spreading": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
